/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}


@font-face {
  font-family: 'acherus_grotesqueregular';
  src: url("../fonts/acherus_grotesque_-_regular-webfont.eot");
  src: url("../fonts/acherus_grotesque_-_regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/acherus_grotesque_-_regular-webfont.woff2") format("woff2"), url("../fonts/acherus_grotesque_-_regular-webfont.woff") format("woff"), url("../fonts/acherus_grotesque_-_regular-webfont.ttf") format("truetype"), url("../fonts/acherus_grotesque_-_regular-webfont.svg#acherus_grotesqueregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* @group general */
body {
  font-size: 100%;
  line-height: 1.5em;
  font-family: "Trebuchet MS", Helvetica Neue, Arial, sans-serif;
}

p {
  margin-bottom: 0.75em;
}

a:link,
a:visited {
  color: #e2231a;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

.inner {
  width: 88%;
  margin: 0 auto;
}

.margins-vert {
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.main-content section > p, .main-content section > ul, .main-content section > div {
  width: 88%;
  margin: 0 auto 0.75em;
}

.main-content section ul {
  margin-bottom: 1.5em
}

.liberapay-btn, .margleft {
  margin-left: 25px;
}

ul {
  margin-bottom: 1.5em
}


ul li {
  list-style: disc;
}


/* @end general */
/* @group layout */
.inner.heading {
  margin-left: 0;
  margin-right: 0;
  width: 100%;
}

.codehub-logo {
  width: 246px;
  height: 62px;
  margin: 13px 0 8px 30px;
}

#footer {
  background: #fff;
}
/* @end layout */
/* @group topography */

h1 {
  text-indent: -9999px;
  height: 0;
}

h2 {
  font-family: 'acherus_grotesqueregular', serif;
  color: #222;
  font-size: 1.3125em;
  line-height: 1.14286em;
  padding-bottom: 0.65em;
}

h3 {
  background: #fff;
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 1em;
  color: #222;
}


.container {
  width: 90%;
  margin: 0 auto;
}

.flex-nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-top: 0.25em;
  padding-bottom: 0.25em;

}
.flex-nav li {
  list-style: none;
  margin-right: 2.43902%;
  color: #444;
  text-align: center;
  font-weight: bold;
  /*text-transform: uppercase;*/
  background: #eedfdf;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  padding: 0.25em 0;
  flex: 1 1 0;
}

.flex-nav li:hover {
  background: /* #ce9f9f;*/ #f02027;
  color: #fff;
}

.flex-nav li a {
  text-decoration: none;
  color: #444;
  display: box;
}

.flex-nav li:hover a {
  color: #fff;
}

.flex-nav li.current {
  background: #dedede;
}

.flex-nav li.current a, .flex-nav li.current a:hover {
  color: #444;
}

.img-wrapper {
  text-align: center;
  padding-bottom: 21px;
}

.resp {
  max-width: 100%;
}

footer {
  padding: 13px 0 34px 0;
}

.flex-sponsors ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: flex-end;
}

.flex-sponsors li {
  list-style: none;
  margin-right: 34px;
  margin-bottom: 21px;
}

@media (min-width: 30em) {
  .flex-nav ul {
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 39em) {
  body {
    background: #fff;
    color: #222;
    font-size: 1.31em;
  }

  .margins-vert {
    margin-bottom: 1.5em;
  }

  .main-content section p {
    width: 100%;
    margin-bottom: 1.5em;
  }

  .liberapay-btn, .margleft {
    margin-left: 0;
  }

  .section {
    padding-top: 0.75em;
  }

  .intro p {
    font-size: 1.125em;
    line-height: 1.71429em;
  }

  .codehub-logo {
    width: 328px;
    height: 85px;
    margin: 34px 0 21px 0;
  }

  h2, h3 {
    font-weight: 700;
    padding-left: 0;
    color: #444;
  }

  h2 {
    font-size: 1.5em;
    line-height: 2em;
  }

  h3 {
    background: inherit;
    font-weight: 400;
    font-size: 1.3125em;
    line-height: 1.14286em;
  }


}
